.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav>li>a:hover {
  background-color: rgb(215, 25, 25);
}

.navbrand {
  font-weight: bold;
}

.navbar {
  font-weight: bold;
}

.navimage {
  width: 170px;

}

.navilinks {
  display: flex;
  flex-direction: row;
}

.ml-auot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c4image {
  width: 170px;
}

@media (max-width: 1200px) {
  .navbar-brand {

    display: flex;
    flex-direction: column;
  }
}

.login-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-button {
  padding-left: 0.5em;

  display: flex;
  justify-content: center;
}